.btn-blue {
	background-color: #cfbaf0;
	padding: 15px 20px;
	border-radius: 4px;
	color: black;
	font-weight: bolder;
	font-family: 'Nunito', sans-serif;
}
.btn-blue:hover{
	background-color: black;
	color: white;
}
